.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #262;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Board {
  margin-top: 20px;
  background-color: lightblue;
  border-style: dotted;   

}

.App-footer {
  background-color: #262;
  height: 40px;
  width: 100%;
  color: white;
  bottom: 0px;

}

.CamperRow {
  border-style: solid;
}



.item {
  text-align: left;
  
  
  img {
    width:80px;
    height: auto;
    border-radius: 50%;
  }
  #text {
    text-align: center;
    color: white;
    font-size: 30px;
    padding-left: 100px;
    height: 10px;

  }
}

li {
  background:lightgrey;
  font-size:25px;
  border: ridge;
  list-style-position: inside;
}
li:nth-Child(odd){background: gray}

.Legend{
  button {
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  //#alphabet{background-color: #4CAF50; /* Green */} <---- why not here?
}
  #alphabet{background-color: #4CAF50;}
  #recent{background-color: #008CBA;}
  #alltime{background-color: #f44336;}
}






