.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #262;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Board{
  margin-top: 20px;
  background-color: lightblue;
  border-style: dotted;   

}

.App-footer{
  background-color: #262;
  height: 40px;
  width: 100%;
  color: white;
  bottom: 0px;

}

.CamperRow{
  border-style: solid;
}

.item img{
  width:80px;
  height: auto;
}

.item{
  text-align: left;
}






