.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #262;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Board {
  margin-top: 20px;
  background-color: lightblue;
  border-style: dotted;   

}

.App-footer {
  background-color: #262;
  height: 40px;
  width: 100%;
  color: white;
  bottom: 0px;

}



.item {
  text-align: left;
  
  
  img {
    width:80px;
    height: auto;
    border-radius: 50%;
  }
  #text {
    text-align: center;
    color: white;
    font-size: 30px;
    padding-left: 100px;
    height: 10px;

  }
}

li {
  background: #424242;
  font-size:25px;
  border: ridge;
  list-style-position: inside;
}
li:nth-Child(odd){background: gray}

.Legend{
  padding-bottom: 20px;
  button {
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  //#alphabet{background-color: #4CAF50; /* Green */} <---- why not here?
}
  #alphabet{background-color: #4CAF50;}
  #recent{background-color: #008CBA;}
  #alltime{background-color: #f44336;}
}

.ScoreTable{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: solid;

  tr:nth-Child(even) {
    background-color: #424242;
  }
  tr:nth-Child(odd) {
    background-color: gray
  }
  .TableHead{
    font-size: 30px;
    font-family: Impact;
  }

  .item{
    text-align: center;
    font-family: Gill Sans MT, sans-serif;
    font-size: 25px;

  }
}

.SearchBox {
  padding-bottom: 20px;
}






